.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Slight lift effect */
  padding: 5px 20px;
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
  z-index: 10; /* Higher than default */
  display: flex;
  justify-content: center;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 15px;
  display: inline-block;
  align-self: center; /* Moves the logo to the bottom */
  display: flex;
}

.logo img {
  max-height: 34px;
  height: auto;
  width: auto;
}

.sign-in-link {
  margin-left: 15px;
  white-space: nowrap;
}

.sign-in-link a:hover {
  color: #000 !important;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center; /* Aligns items in the list */
  margin: 0;
  padding: 0;
}

li a {
  color: #666;
  text-decoration: none;
}

.search-bar {
  position: relative;
  flex-grow: 1;
  display: flex;
  margin-right: auto; /* This pushes following items to the right */
}

.search-bar input {
  width: 100%;
  padding: 6.5px 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 18px;
  transition: all 0.3s ease;
  color: #666;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Subtle default shadow */
}

.search-bar input:focus {
  color: #000;
  outline: none; /* Remove default outline*/
  border-color: #2779a7; /* Blue border on focus */
  border-width: 1px; /* Slightly thicker border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Consistent with the button shadow */
  box-sizing: border-box;
}

.search-bar .clear-btn {
  position: absolute;
  right: 10px;
  display: none;
  font-size: 30px;
  color: #666;
  cursor: pointer;
  background: none;
  border: none;
}

.search-bar input:not(:placeholder-shown) + .clear-btn {
  display: inline-block; /* Show the clear button when there's text */
}

.search-bar .clear-btn:hover {
  color: #000; /* Optional: Change color on hover */
}

.btn-create-account {
  display: inline-block;
  background-color: transparent; /* No solid background */
  color: #000; /* Blue text color */
  padding: 9.5px 16px; /* Padding for the button */
  font-size: 14px; /* Font size */
  text-decoration: none; /* Remove underline */
  border: 1px solid #000; /* Blue outline */
  border-radius: 7px; /* Rounded corners */
  white-space: nowrap;
  transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-links .btn-create-account:hover {
  background-color: #2779a7; /* Use text color as background */
  color: #ffffff; /* White text */
  border-color: #2779a7; /* Keep border same as background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.logo-search {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Container for search bar and results */
.search-container {
  position: relative;
  width: 100%;
}

/* Style for the search results */
#search-results {
  position: absolute;
  top: 100%; /* Directly below the search bar */
  left: 0;
  width: 100%; /* Matches the search bar width */
  background: #fff;
  border: 1px solid #ccc;
  border-top: none; /* Remove the top border to blend with the search bar */
  z-index: 100; /* Make sure it appears above other elements */
  max-height: 300px; /* Optional: limit height and allow scrolling */
  overflow-y: auto; /* Optional: enable vertical scrolling if results overflow */
  border-radius: 0 0 7px 7px;
}

.search-result * {
  margin: 0;
  color: #333;
}

.search-result h3 {
  margin-left: 20px;
}

/* Optional: Style for each search result */
.search-result {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Keep text color consistent */
  transition: background 0.2s ease-in-out;
}

.search-result:hover {
  background: #e4e3e3; /* Light background on hover */
}

.search-result:last-child {
  border-bottom: none;
}

@media (min-width: 1240px) {
  .header {
    padding: 5px 0;
  }

  .navbar {
    max-width: 1240px;
    justify-content: center; /* All items together in the center */
    gap: 20px; /* Space between .logo, .search-bar, .nav-links */
  }

  /* Distribute space more evenly */
  .search-bar {
    margin-right: auto; /* Each direct child has horizontal spacing */
  }

  .logo {
    display: none;
  }

  .sign-in-link {
    margin-left: 0;
  }
}
