.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Slight lift effect */
  padding: 10px 20px;
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
  z-index: 10; /* Higher than default */
  display: flex;
  justify-content: center;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 30px;
  white-space: nowrap;
}

.logo img {
  max-height: 34px; /* Adjust based on your design */
  height: auto;
  width: auto;
}

.sign-in-link {
  margin-left: 15px;
  white-space: nowrap;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center; /* Aligns items in the list */
  margin: 0;
  padding: 0;
}

li a {
  color: #666;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #6a057c; /* Darker blue on hover */
}

.search-bar {
  position: relative;
  flex-grow: 1;
  max-width: 500px;
  display: flex;
  margin-right: auto; /* This pushes following items to the right */
}

.search-bar input {
  width: 100%;
  padding: 9.5px 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  transition: all 0.3s ease;
  color: #666;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Subtle default shadow */
}

.search-bar input:focus {
  outline: none; /* Remove default outline*/
  border-color: #007bff; /* Blue border on focus */
  border-width: 1px; /* Slightly thicker border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Consistent with the button shadow */
}

.search-bar .clear-btn {
  position: absolute;
  right: 10px;
  display: none;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  background: none;
  border: none;
}

.search-bar input:not(:placeholder-shown) + .clear-btn {
  display: inline-block; /* Show the clear button when there's text */
}

.search-bar .clear-btn:hover {
  color: #007bff; /* Optional: Change color on hover */
}

.btn-create-account {
  display: inline-block;
  background-color: transparent; /* No solid background */
  color: #2779a7; /* Blue text color */
  padding: 9.5px 16px; /* Padding for the button */
  font-size: 14px; /* Font size */
  text-decoration: none; /* Remove underline */
  border: 1px solid #2779a7; /* Blue outline */
  border-radius: 7px; /* Rounded corners */
  white-space: nowrap;
  transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-links .btn-create-account:hover {
  background-color: #2779a7; /* Use text color as background */
  color: #ffffff; /* White text */
  border-color: #2779a7; /* Keep border same as background */
  text-decoration: underline; /* Underline text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.logo-search {
  flex: 1;
  display: flex;
}

@media (min-width: 1300px) {
  .navbar {
    max-width: 1260px;
    justify-content: center; /* All items together in the center */
    gap: 20px; /* Space between .logo, .search-bar, .nav-links */
  }

  /* Distribute space more evenly */
  .search-bar {
    margin-right: auto; /* Each direct child has horizontal spacing */
    max-width: 500px;
  }
}
