<div class="tabs">
  <button class="tab active" data-filter="relevant">Relevant</button>
  <button class="tab" data-filter="latest">Latest</button>
  <button class="tab" data-filter="top">Top</button>
</div>
