<footer class="footer">
  <div class="footer-content">
    <ul class="footer-links">
      <li><a href="/underConstruction">Privacy Policy</a></li>
      <li><a href="/underConstruction">Code of Conduct</a></li>
      <li><a href="/underConstruction">Contact</a></li>
    </ul>
    <hr />
    <p class="footer-copyright">
      &copy; <%= new Date().getFullYear() %> WK. All rights reserved.
    </p>
  </div>
</footer>
