<header class="header">
  <nav class="navbar">
    <div class="logo-search">
      <a href="/" class="logo"><img src="/imgs/WK.png" alt="wk logo" /></a>
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search articles..."
          aria-label="Search articles"
          id="searchInput"
        />
        <button
          type="button"
          class="clear-btn"
          aria-label="Clear"
          onclick="clearSearch()"
        >
          &times;
        </button>
      </div>
    </div>
    <script>
      function clearSearch() {
        const input = document.getElementById("searchInput");
        input.value = ""; // Clear the input field
        input.focus(); // Focus back on the input field
      }
    </script>

    <ul class="nav-links">
      <li class="sign-in-link">
        <a
          href="https://us-east-1ychprt5hz.auth.us-east-1.amazoncognito.com/login/continue?client_id=7qkfnqt9m06hugfi6093ksvar5&redirect_uri=https%3A%2F%2Fbt1a4zodne.execute-api.us-east-1.amazonaws.com%2Flocal%2Fauth%2Fcallback&response_type=code&scope=email+openid"
          >Sign In</a
        >
      </li>
      <li>
        <a
          href="https://us-east-1ychprt5hz.auth.us-east-1.amazoncognito.com/signup?client_id=7qkfnqt9m06hugfi6093ksvar5&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fauth%2Fcallback&response_type=code&scope=email+openid"
          class="btn-create-account"
        >
          Create Account
        </a>
      </li>
    </ul>
  </nav>
</header>
