<header class="header">
  <nav class="navbar">
    <a href="/" class="logo">MyDevClone</a>
    <div class="search-bar">
      <input type="text" placeholder="Search articles..." />
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/create">Write a Post</a></li>
      <li>
        <a
          href="https://us-east-1ychprt5hz.auth.us-east-1.amazoncognito.com/login/continue?client_id=7qkfnqt9m06hugfi6093ksvar5&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fauth%2Fcallback&response_type=code&scope=email+openid"
          >Sign In</a
        >
      </li>
      <li>
        <a
          href="https://us-east-1ychprt5hz.auth.us-east-1.amazoncognito.com/signup?client_id=7qkfnqt9m06hugfi6093ksvar5&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fauth%2Fcallback&response_type=code&scope=email+openid"
          >Create Account</a
        >
      </li>
    </ul>
  </nav>
</header>
