<div class="links-section">
  <a
    href="/"
    class="sprite-animation"
    aria-label="WK"
    id="sprite"
    tabindex="0"
  ></a>
  <ul class="links top">
    <li><a href="/underConstruction">Portfolio</a></li>
    <li><a href="/underConstruction">Inquiry</a></li>
    <li><a href="/underConstruction">About</a></li>
  </ul>
  <hr />
  <!-- Social Media Links -->
  <div class="social-links">
    <a href="https://github.com/wnkinc" target="_blank" class="social github">
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/wesley-klaassen/"
      target="_blank"
      class="social linkedin"
    >
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <hr />
  <ul class="links bottom">
    <li><a href="/underConstruction">Code of Conduct</a></li>
    <li><a href="/underConstruction">Privacy Policy</a></li>

    <li><a href="/underConstruction">Contact</a></li>
  </ul>
</div>
