<div class="links-section">
  <a
    href="/"
    class="sprite-animation"
    aria-label="WK"
    id="sprite"
    tabindex="0"
  ></a>
  <ul class="links top">
    <li><a href="">Portfolio</a></li>
    <li><a href="">Inquiry</a></li>
    <li><a href="">About</a></li>
  </ul>
  <hr />
  <!-- Social Media Links -->
  <div class="social-links">
    <a
      href="https://github.com/your-username"
      target="_blank"
      class="social github"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/your-username"
      target="_blank"
      class="social linkedin"
    >
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <hr />
  <ul class="links bottom">
    <li><a href="">Privacy Policy</a></li>
    <li><a href="">Terms of service</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</div>
