<div class="tags-section">
  <h3>My Tags</h3>
  <ul>
    <li><a href="/tag/javascript">#javascript</a></li>
    <li><a href="/tag/webdev">#webdev</a></li>
    <li><a href="/tag/css">#css</a></li>
    <li><a href="/tag/react">#react</a></li>
  </ul>
</div>
