<aside class="left-post-sidebar">
  <div class="sidebar-item reactions-container" data-tooltip="Reactions">
    <svg
      class="sidebar-icon reactions-svg"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>

    <!-- Reaction Menu -->
    <div class="reactions-menu">
      <% Object.entries(reactions).forEach(([type, count]) => { %>
      <div class="reaction" data-reaction-type="<%= type %>">
        <span>
          <% if (type === "like") { %> ❤️ <% } %> <% if (type === "unicorn") {
          %> 🦄 <% } %> <% if (type === "funny") { %> 😂 <% } %> <% if (type ===
          "wow") { %> 🤯 <% } %> <% if (type === "dislike") { %> 👎 <% } %>
        </span>
        <small><%= count %></small>
      </div>
      <% }); %>
    </div>
  </div>

  <div class="sidebar-item" data-tooltip="Comments">
    <a href="/post/<%= post.slug %>#comments">
      <svg
        class="sidebar-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10z"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>

  <div class="sidebar-item save-button" data-tooltip="Save">
    <svg class="sidebar-icon save-icon" viewBox="0 0 24 24">
      <path d="M19 21l-7-5-7 5V5c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2v16z" />
    </svg>
  </div>

  <div
    class="sidebar-item reshare-button"
    data-tooltip="Reshare"
    data-url="/post/<%= post.slug %>"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      viewBox="0 0 24 24"
    >
      <polyline points="17 1 21 5 17 9"></polyline>
      <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
      <polyline points="7 23 3 19 7 15"></polyline>
      <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
    </svg>
  </div>

  <div class="sidebar-item" data-tooltip="More">
    <svg
      class="sidebar-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <circle cx="5" cy="12" r="2" />
      <circle cx="12" cy="12" r="2" />
      <circle cx="19" cy="12" r="2" />
    </svg>
  </div>
</aside>
