<!-- views/partials/navbar.ejs -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a
        href="https://us-east-1ychprt5hz.auth.us-east-1.amazoncognito.com/login?client_id=14qr5klu6ggpfdbnp2cfbvafqh&redirect_uri=http://localhost:3000/auth/callback&response_type=code&scope=email+openid"
        >Log In</a
      >
    </li>
    <li>
      <a
        href="https://us-east-1ychprt5hz.auth.us-east-1.amazoncognito.com/signup?client_id=14qr5klu6ggpfdbnp2cfbvafqh&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fcallback&response_type=code&scope=email+openid"
        >Create Account</a
      >
    </li>
  </ul>
</nav>
