<div class="resources-section">
  <h3>Resources</h3>
  <ul>
    <li><a href="/listings">Listings</a></li>
    <li><a href="/podcasts">Podcasts</a></li>
    <li><a href="/help">Help Center</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>
