<div class="profile-box">
  <img
    src="<%= post.author.profilePic || '/default-profile.png' %>"
    alt="<%= post.author.username %>'s profile picture"
    class="profile-pic-large"
  />
  <h2 class="username"><%= post.author.username %></h2>
  <p class="bio"><%= post.author.bio %></p>
</div>
<img class="balloon-box" src="/imgs/box.png" alt="Logo box" />
<div id="balloon-column"></div>
